/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 

@media screen and (orientation: portrait) {  
  /* 竖屏样式 */
}

@media screen and (orientation: landscape) {  
  /* 横屏样式 */
}
